{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
	<h2>Enter new password</h2>

	<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

	<form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update Password</button>
            </div>
    </form>
</div>
{% endblock content %}
